/* Fonts */
@font-face {
    font-family: "SegoeUI";
    src: url("~@/assets/fonts/Segoe UI.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
}

#app {
    font-family: $segoe;
    background-color: $bgcolor;
    flex-direction: column;
    background-color: $bgcolor;
}

/* Make every div flex by default */
div {
    display: flex;
}
section {
    display: flex;
}

/* Text styles */
.strong {
    font-weight: 600;
}

// Inputs
input {
    box-shadow: none;
    border: none;
    outline: none;
}
